@import "./tokens.css";
@import "./typography.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: theme("colors.gray.50");
    --foreground: theme("colors.gray.850");

    --primary: theme("colors.blue.450");
    --primary-foreground: theme("colors.white");

    --secondary: theme("colors.gray.100");
    --secondary-foreground: theme("colors.gray.850");

    --muted: theme("colors.gray.100");
    --muted-foreground: theme("colors.gray.500");

    --accent: theme("colors.gray.100");
    --accent-foreground: theme("colors.gray.850");

    --destructive: theme("colors.red.450");
    --destructive-foreground: theme("colors.white");

    --info: theme("colors.blue.450");
    --info-foreground: theme("colors.white");

    --success: theme("colors.green.450");
    --success-foreground: theme("colors.white");

    --warning: theme("colors.yellow.250");
    --warning-foreground: theme("colors.gray.850");

    --border: theme("colors.gray.150");
    --input: var(--border);
    --ring: theme("colors.blue.200");

    --radius-xs: theme("borderRadius.xs");
    --radius-sm: theme("borderRadius.sm");
    --radius-md: theme("borderRadius.md");
    --radius-lg: theme("borderRadius.lg");
    --radius-xl: theme("borderRadius.xl");
    --radius-2xl: theme("borderRadius.2xl");
    --radius-full: theme("borderRadius.full");

    --font-sans: theme("fontFamily.sans");
    --font-mono: theme("fontFamily.mono");
  }

  .dark {
    --background: theme("colors.gray.950");
    --foreground: theme("colors.gray.50");

    --primary: theme("colors.blue.400");
    --primary-foreground: theme("colors.gray.950");

    --secondary: theme("colors.gray.800");
    --secondary-foreground: theme("colors.gray.50");

    --muted: theme("colors.gray.800");
    --muted-foreground: theme("colors.gray.400");

    --accent: theme("colors.gray.800");
    --accent-foreground: theme("colors.gray.50");

    --destructive: theme("colors.red.400");
    --destructive-foreground: theme("colors.gray.950");

    --info: theme("colors.blue.400");
    --info-foreground: theme("colors.gray.950");

    --success: theme("colors.green.400");
    --success-foreground: theme("colors.gray.950");

    --warning: theme("colors.yellow.200");
    --warning-foreground: theme("colors.gray.950");

    --border: theme("colors.gray.800");
    --input: var(--border);
    --ring: theme("colors.blue.700");
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
